@{  var imagePath = "";
  if (Request["photoChoice"] != null)
  {
      imagePath = @"/Maps/" + Request["photoChoice"];
  }
}
@section scripts {
@*<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>*@

    <script>

        function getAllNames(event) {
            var level1 = document.getElementById("levelMap").getAttribute("src");
            level1 = level1[level1.length - 5];

            var serviceUrl = '/api/pois/poisToDisplay?level=' + level1; // Replace with your URI.

            $.ajax({
                type: "GET",
                url: serviceUrl,
                parameters: {level: level1 },
                contentType: "application/json; charset=utf-8",
                dataType: "json",


            }).success(function (data) {
                $.each(data, function (index, element) {
                    //window.alert(element.name);
                    var myLayer = document.createElement('div');
                    //myLayer.id = 'bookingLayer';
                    myLayer.style.position = 'absolute';
                    myLayer.style.left = Math.round((element.centerX / 3) + document.getElementById("pointer_div").offsetLeft)+"px";
                    myLayer.style.top = Math.round((element.centerY / 3) + document.getElementById("pointer_div").offsetTop)+"px";
                    myLayer.style.width = '20px';
                    myLayer.style.height = '20px';
                    myLayer.style.padding = '1px';
                    //myLayer.style.background = '#00ff00';
                    myLayer.innerHTML = element.logoUrl;
                    document.getElementById("pointer_div").appendChild(myLayer);
                });

            }).error(function (jqXHR, textStatus, errorThrown) {
                $('#value1').text(jqXHR.responseText || textStatus);
            });
        }

        function mapclicked(event) {

            //var method = $('#method').val();
            var pos_x = 3*(event.offsetX?(event.offsetX):event.pageX-document.getElementById("pointer_div").offsetLeft);
            var pos_y = 3*(event.offsetY?(event.offsetY):event.pageY-document.getElementById("pointer_div").offsetTop);
            var level1 = document.getElementById("levelMap").getAttribute("src");
            level1 = level1[level1.length - 5];

            var serviceUrl = '/api/pois/GetByLocation?lon='+pos_y+'&lat='+pos_x+'&level='+level1; // Replace with your URI.

            $.ajax({
                type: "GET",
                url: serviceUrl,
                parameters: {lon:pos_x,lat:pos_y, level:level1},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                

            }).success(function (data) {
                $.each(data, function (index, element) {
                    //window.alert(element.name);
                    document.getElementById("result").innerHTML = element.name;//+element.entrances[0].areaID;
                    if (element.logoUrl == null | element.logoUrl == '#N/A') {

                        if (element.websiteLink != null) {
                            var link = element.websiteLink;
                            if (!/^http:/.test(link))
                                link = 'http://'.concat(link);
                            window.open(link);
                        }
                        else
                            window.alert(element.name);
                    }
                    else
                        //window.open('http://shimeba.blob.core.windows.net/logos/' + element.logoUrl);
                        window.prompt("Copy to clipboard: Ctrl+C, Enter", element.logoUrl);
                });

            }).error(function (jqXHR, textStatus, errorThrown) {
                $('#value1').text(jqXHR.responseText || textStatus);
            });
        }
    </script>
}
<div id="body">
    <form method="post" action="">
        <div>
            I want to see:
            <select name="photoChoice">
                <option value="level0.jpg">Level 0</option>
                <option value="level1.jpg">Level 1</option>
                <option value="level2.jpg">Level 2</option>
                <option value="level3.jpg">Level 3</option>
                <option value="level4.jpg">Level 4</option>
                <option value="level5.jpg">Level 5</option>
                <option value="level6.jpg">Level 6</option>

            </select>
            &nbsp;
            <input type="submit" value="Submit" />
            <input type="button" value="Show All" onclick="getAllNames(event)" />
            <div id="result">
                Store Clicked: 
            </div>
        </div>
        <div id="pointer_div" onclick="mapclicked(event)" style="width: 621px; height: 857px;">
            @if (imagePath != "")
            {
                <img id="levelMap" src="@imagePath" style="width: 621px; height: 857px; position: relative; z-index: 2; " />
            }
        </div>
    </form>
</div>
